{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <br/>
    <div class="container">
            <h1> Enregistrez-vous pour bénéficier davantage de privilèges </h1>
            {{ form_start(RegisterFormType) }}
            {{ form_widget(RegisterFormType) }}

        <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Je souhaite m'enregistrer !
            </button>
            {{ form_end(RegisterFormType) }}

    </div>
    <br/>
    <img src="{{ asset('build/images/api-logo.png') }}" alt="api-platform logo">
    <br/>
{% endblock %}