{% extends 'base.html.twig' %}

{% block title %} BileMo API{% endblock %}

{% block body %}
    <br/>
    <div class="row-3">
        <h2> Les requétes de l'API BileMo </h2>
        <p>Vous devez être connecté pour effectuer certaine requêtes </p>
        <ul>
            <li>^/api/login_check </li>
            <li>^/api/register </li>
            <li>^/api/phones</li>
            <li>^/api/phones/{id}</li>
            <li>^/api/customers</li>
            <li>^/api/users</li>
            <li>^/api/users/{id}</li>
        </ul>
    </div>

    <hr />
    <h2> Liste des téléphones chez BileMo ( user ) </h2>
    <p>( liste de tout les téléphones ) </p>

    <!-- TODO : React Composant-->
    <hr />
    <br/>
    <br/>
    <br/>

    <h2> Liste de nos utilisateurs, inscrivez-vous ! ( root - titre expérimentale  ) </h2>
    <p>( liste de tout les utilisateurs ) </p>

    <!-- React Test-->
    <div class="row-3">
        <div id="lift-stuff-app"></div>
    </div>
    <br><br><br><br><br><br>
    <hr />

    <h2> API DEMO </h2>
    <!-- React -->
    <div class="row-3">
        <div id="phone-app"></div>
    </div>
    <br><br><br><br><br><br>
    <hr />




{% endblock %}

