{% extends 'base.html.twig' %}

{% block title %} BileMo API{% endblock %}

{% block body %}
    <br/>
    <div class="row-3">
        <h2> Les requétes de l'API BileMo </h2>
        <p>Vous devez être connecté pour effectuer certaine requêtes </p>
        <ul>
            <li>^/api/login_check </li>
            <li>^/api/register </li>
            <li>^/api/phones</li>
            <li>^/api/phones/{id}</li>
            <li>^/api/customers</li>
            <li>^/api/users</li>
            <li>^/api/users/{id}</li>
        </ul>
        <p>La liste des ressources est disponible : <a href="api" >Ici</a> </p>
    </div>

    <!-- React -->
    <div class="row-3">
        <div id="lift-stuff-app"></div>
    </div>
    <br><br><br><br><br><br>
    <hr />

    <h2> API DEMO ( VOIR CONSOLE )  </h2>
    {% if app.user %}

    <br/>
    <!-- React -->
    <div class="row-3">
        <div id="phone-app"></div>
    </div>

    {% else %}
        <p> Veuillez vous connecter : </p>
        <button type="button" class="btn btn-primary btn-lg btn-block">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </button>

    {% endif %}



    <br><br><br><br><br><br>
    <hr />




{% endblock %}

