{% extends 'base.html.twig' %}

{% block title %} BileMo API{% endblock %}

{% block body %}
<p> Home page Demo application</p>
    <p> Documentation </p>  <p> Démonstration </p> <p> Je shouaite utiliser cette API ( demande d'enregistrement )  </p>

{% endblock %}
