<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BileMoApi">
    <meta name="author" content="Yohann durand">

    <title>{% block title %}API BileMo Phone {% endblock %}</title>

    {% block stylesheets %}
        <!-- File build -->
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>
{% block body %}
{% endblock %}

{% block javascripts %}
    <!-- File build -->
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
