footer {
  background-color: $blue ;
  color : white ;
}

.fas .fab{
  color : white ;
}

.fas.fa-hand-point-right {
  color : $blue;
  margin : auto ;
}

.fas.fa-hand-point-right :hover {
  color : black;
}